@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$violet: #9356DC;
$bleu-marine: #003A68;
$bleu-clair: #89C8FA;
$vert-fonce: #008766;
$vert-clair: #99E2D0;

$roboto-titles-logo: 'Roboto', sans-serif;
$shrikhand-txt: 'Shrikhand', sans-serif;

* {
    font-family: $roboto-titles-logo;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

span {
    font-weight: bold;
}

h1 {
    font-family: $shrikhand-txt;
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    
    

    &::after {
        content: "";
        display: block;
        background: $vert-clair;
        width: 40px;
        height: 3px;
        margin-top: 7px;
        
    }
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > a {
    position: absolute;
    left: 0;        
    }

    img {
        padding: 20px;
    }

}

.restaurant1 {
    

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.behind-menu {
    margin-bottom: -70px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -70px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background: #F6F6F6;
    
    

    &__header {
        display: flex;
        flex-direction: row;
        width: 90%;
        position: relative;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;

        i {
            position: absolute;
            left: 85%;
            font-size: 25px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 20px;


        &__informations {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0;
            list-style: none;
            
            li {
                display: flex;
                justify-content: space-between;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                width: 90%;
                border-radius: 15px;
                background: #FFFFFF;
                box-shadow: 0px 4px 15px 0px #00000026;
                padding: 15px;
                opacity: 0;
                animation: fadeIn 2.5s ease-in-out forwards;
    
                  
            }

            li:hover::after {
                content: "\f058";
                font-family: "Font Awesome 6 Free";
                background: $vert-clair;
                color: white;
                position: absolute;
                font-size: 21px;
                overflow: hidden;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 30px 15px 30px 15px;
                right: 0;
                top: 0;
                opacity: 0;
                animation: opacitychange2 0.6s ease forwards;  
            }

            li:hover .dishes__content__price {
                transform: translate(-50px);
                transition-duration: 0.4s;
            }

            li:hover .dishes__content__description {
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 25px;
            }
        }
    }
}



.menu__list:nth-of-type(2) .dishes:nth-of-type(1) {
    animation-delay: 0.4s;
}

.menu__list:nth-of-type(2) .dishes:nth-of-type(2) {
    animation-delay: 0.8s;
}

.menu__list:nth-of-type(2) .dishes:nth-of-type(3) {
    animation-delay: 1.2s;
}

.menu__list:nth-of-type(3) .dishes:nth-of-type(1) {
    animation-delay: 1.7s;
}

.menu__list:nth-of-type(3) .dishes:nth-of-type(2) {
    animation-delay: 2.1s;
}

.menu__list:nth-of-type(3) .dishes:nth-of-type(3) {
    animation-delay: 2.5s;
}

.menu__list:nth-of-type(4) .dishes:nth-of-type(1) {
    animation-delay: 3s;
}

.menu__list:nth-of-type(4) .dishes:nth-of-type(2) {
    animation-delay: 3.4s;
}

.menu__list:nth-of-type(4) .dishes:nth-of-type(3) {
    animation-delay: 3.8s;
}




 

.dishes__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    text-wrap: nowrap;
   

    &__name {
        font-size: 18px;
        font-weight: bold;
    }

    &__description {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
    }
}

.explor-input {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    width: 186px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 4px 15px 0px #00000025;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    transition: opacity 0.3s ease-out;

    &:hover {
        opacity: 0.85;
        box-shadow: 0px 4px 15px 0px #00000035;
    }
} 

.footer__container {
    background-color: #353535;

    p {
        padding-left: 22px;
        padding-top: 25px;
        color: #FFFFFF;
        font-size: 18px;
        font-family: $shrikhand-txt;
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 22px 25px 22px 25px;
        margin: 0;
        list-style: none;
     a {
        color: white;
    
     i {
        width: 11px;
        height: 13px;
       padding-right: 20px; 
    }
        } 
    } 
}



.empty-heart {
    opacity: 1;
    &:hover {
        animation: opacitychange1 0.5s ease;
}
}

.full-heart {
    background: linear-gradient(to top,#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    &:hover {
        animation: opacitychange2 0.5s ease forwards;
}
}

@keyframes opacitychange1 {
    from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes opacitychange2 {
    from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



@media (min-width: 1024px) {
    .menu {
        width: 70%;
        margin: 0 auto;

        &__header {
            justify-content: center;

            i {
                left: 68%;
            }
        }

        &__list {
            padding: 20px 100px 20px 100px;
        }
    }

    .footer__container {

        display: flex;
        flex-direction: row-reverse;
        padding: 30px 25px 30px 25px;
    
            p {
                padding: 0;
                
            }
    
            .footer__container__list {
                flex-direction: row;
                padding: 0;
                margin-right: 100px;
            }
        }
}
