@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$violet: #9356DC;
$bleu-marine: #003A68;
$bleu-clair: #89C8FA;
$vert-fonce: #008766;
$vert-clair: #99E2D0;

$roboto-titles-logo: 'Roboto', sans-serif;
$shrikhand-txt: 'Shrikhand', sans-serif;

body {
    font-family: $shrikhand-txt;
}