@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.branding {
  display: flex;
  justify-content: center;
}
.branding .branding__logo {
  font-size: 30px;
  padding: 14px;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 17px;
}

.presentation {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.presentation p:nth-child(1) {
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}
.presentation p:nth-child(2) {
  font-size: 18px;
  font-weight: none;
}

.explor-input {
  border-radius: 25px;
  height: 50px;
  width: 218px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  margin-top: 10px;
}

.functioning {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.functioning__box {
  display: flex;
  align-items: center;
  height: 72px;
  gap: 30px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}

span {
  position: relative;
  right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
  text-align: center;
  color: white;
  line-height: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #F6F6F6;
  padding-bottom: 100px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
}
.restaurants__list__card {
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
}
.restaurants__list__card:nth-of-type(-n+2)::before {
  content: "Nouveau";
  background: #99E2D0;
  position: absolute;
  padding: 7px 10px 7px 10px;
  color: #008766;
  border-radius: 5px;
  top: 15px;
  left: 240px;
}
.restaurants__list__card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 340px;
  height: 251px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__list__card i {
  position: absolute;
  left: 88%;
  bottom: 10%;
  font-size: 25px;
}
.restaurants__list__card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.restaurants__list__card__text > * {
  margin: 0;
}

.footer__container {
  background-color: #353535;
}
.footer__container p {
  padding-left: 22px;
  padding-top: 25px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}
.footer__container__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px 22px 25px;
  margin: 0;
  list-style: none;
}
.footer__container__list a {
  color: white;
}
.footer__container__list a i {
  width: 11px;
  height: 13px;
  padding-right: 20px;
}

/* essai coeur */
.empty-heart {
  opacity: 1;
}
.empty-heart:hover {
  animation: opacitychange1 0.5s ease;
}

.full-heart {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.full-heart:hover {
  animation: opacitychange2 0.5s ease forwards;
}

@keyframes opacitychange1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacitychange2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */